version: '3.8'

services:

  timesheet-api:
    build: .
    ports:
      - "8000:80"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: timesheet-db
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SA_PASSWORD}
    ports:
      - "1433:1433"
